// файл scaffolding.scss (добавить)

@import "mixins.scss";

@import "blocks/index/header";
@import "blocks/index/intro";
@import "blocks/index/advantages";
@import "blocks/index/round-diagram";
@import "blocks/index/reviews";
@import "blocks/index/price";
@import "blocks/index/contacts";
@import "blocks/footer";

 body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}

// .content__wrapper {
//     padding: 0 20px;
//     margin: 0 auto;
// }

.container {
    background-color: chartreuse;
    width: 320px;
    margin: 0 auto;
}

// .content__wrapper {
//     width: 320px;
//     padding: 0 20xp;
// }
// .wrapper {
//     width: 320px;
//     padding: 0 20px;
// }

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// .header-intro__wrapper {
//     background-image: url(../img/back-mobile@1x.png);
//     background-repeat: no-repeat;
//     background-size: 320px;
//     // width: 320px;
// }

@media screen and (min-width: 660px) {
    body {
        min-width: 660px;
    }
    
    .container {
        background-color: rgb(111, 0, 255);
        width: 660px;
        margin: 0 auto;
    }
    // .header-intro__wrapper {
    //     background-image: url(../img/back-mobile@1x.png);
    //     background-repeat: no-repeat;
    //     background-size: 660px;
    //     position: relative;
    // }
}