@import "../scaffolding";

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-form {
    background-color: #fff;
    // padding: 0 20px;
}

.section-form .section-form__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-family: Open Sans;
    font-weight: 400;
    color: #283645;
    padding: 0 20px;
    padding-top: 52px;
    padding-bottom: 50px;
    background-color: #fff;
    text-align: center;
}

.section-form__title .mobile-phrase {
    display: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    margin: 0;
    padding: 0;
}

.section-form__full-name {
    padding-bottom: 42px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

.section-form__full-name p {
    margin: 0;
    padding: 0;
}

.section-form__full-name label {
    margin-bottom: 11px;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
    margin-left: 23px;
}

.section-form__full-name .full-name__input {
    display: block;
    width: 280px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    font-weight: 400;
    // margin: 0 20px;
    margin-bottom: 25px;
    padding: 14px;
    padding-left: 22px;
    box-sizing: border-box;
}

.section-form__full-name .full-name__input:last-child {
    margin-bottom: 0;
}

.achievements {
    display: block;
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.achievements .achievements__title {
    // width: 280px;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 40px;
    // padding-bottom: 40px;
    // padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
}

.achievements__list {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.achievements__list .achievements__item {
    // padding-left: 70px;
    width: 280px;

    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin-bottom: 43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.achievements__checkbox {
    position: relative;

    padding-left: 70px;

    cursor: pointer;
    min-height: 40px;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.achievements__checkbox {
    position: relative;
    // padding-left: 30px;

    cursor: pointer;
}

.achievements__checkbox:hover,
.achievements__checkbox:active {
    color: #4d4d4d;
}

.achievements__checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;
    border: 2px solid rgb(125, 125, 128);
    box-sizing: border-box;
}

.achievements__checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #4d4d4d    ;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.achievements__checkbox input[type="checkbox"]:hover + .checkbox-indicator {
    background-image: url(../../../img/tick-png.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.achievements__checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../../../img/tick-png.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    // opacity: 0.1;
}


.contact-information__title {
    display: none;
}

.contact-information {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.contact-information .contact-information__phone-wrapper, 
.contact-information .contact-information__email-wrapper {
    display: block;
    padding: 0;
    margin: 0;
}

.contact-information label {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
    margin-left: 22px;
}

.contact-information label:nth-child(2) {
    padding-top: 20px;
 }


.contact-information .phone-input,
.contact-information .email-input {
    width: 280px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    box-sizing: border-box;
    margin-top: 11px;
}

.contact-information .phone-input {
    margin-bottom: 23px;
}