@import "mixins.scss";
header {
    background-color: #1d2631;
}

.header-logo {
    display: none;
}

.logo-middle {
    display: none;
}

.logo-large {
    display: none;
}

.navigation {
    display: none;
}

.navigation__list {
    display: none;
}
