.reviews {
    background-color: #fff;
    font-family: Open Sans;
    line-height: 30px;
    padding-top: 48px;
}

.reviews__quote-img {
    display: none;
}

.slider__item:nth-child(2) {
    display: none;
}

.slider__item:nth-child(3) {
    display: none;
}

.reviews__next {
    display: none;
}
.reviews__prev {
    display: none;
}

.reviews__item {
    text-align: center;
}

.reviews blockquote {
    margin: 0;
    padding: 0;
}

.reviews__item .reviews__author-name {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
    font-style: normal;
}

.reviews__item .reviews__author-position {
    display: none;
}

.reviews__item .reviews__description {
    display: block;
    margin: 0;
    padding: 0;
    color: #283645;
    font-size: 14px;
    margin-bottom: 40px;
}

.slider__toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 42px;
    align-items: center;
}
.slider__toggles .slider__toggle {
    background-color: #bec2c7;
    border: none;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.slider__toggles .slider__toggle:nth-child(2) {
    margin-left: 14px;
    margin-right: 14px;
}


.slider__toggles .slider__toggle--current {
    background-color: #fff;
    width: 9px;
    height: 9px;
    border: 2px solid #283645;
    border-radius: 50%;
}